<header class="main-header">
	<div class="row">
		<div class="col-6">
			<a [routerLink]="['/feed']">
				<img src="assets/logo.svg" alt="InstaRocket" class="float-left" />
			</a>
		</div>
		<div class="col-6">
			<a [routerLink]="['/new']">
				<img src="assets/camera.svg" alt="Enviar publicação" class="float-right" />
			</a>
		</div>
	</div>
</header>


<!--header class="main-header">
	<div class="row header-content">
		<div class="col-6">
			<a [routerLink]="['/']">
				<img src="assets/logo.svg" alt="InstaRocket" />
			</a>
		</div>
		<div class="col-6 text-right">
			<a [routerLink]="['/new']">
				<img src="assets/camera.svg" alt="Enviar publicação" />
			</a>
		</div>
	</div>
</header-->